<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="fr.eseo.acm.andoird.projetandroid">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".navigation.ChoixMenus" />
        <activity android:name=".navigation.Connexion" />
        <activity android:name=".activities.com.ComJuryActivity" />
        <activity android:name=".activities.com.ComNotesActivity" />
        <activity android:name=".activities.jury.JuryDetailsActivity" />
        <activity android:name=".activities.ListProjectsActivity" />
        <activity android:name=".activities.DetailsActivity" />
        <activity android:name=".activities.jury.ListJuryActivity" />
        <activity android:name=".activities.RandomProjectsActivity" />
        <activity android:name=".activities.visitor.VisitorActivity" />
        <activity android:name=".activities.visitor.VisitorNotesActivity" />
        <activity android:name=".activities.DetailsActivityRandom" />
        <activity android:name=".navigation.ChoixMenusVisitor" />
        <activity android:name=".activities.com.NotesComActivity" />
        <activity android:name=".activities.visitor.VisitorComActivity" />
        <activity android:name=".activities.jury.JuryNotesActivity" />
        <activity android:name=".poster.FullScreenPosterActivity" />
        <activity android:name=".activities.ListProjectChoix" />
        <activity android:name=".navigation.ChoixNbProjects" />
        <activity android:name=".activities.com.NotesComActivityChoix" />
        <activity android:name=".navigation.EmplacementPlan" />
        <activity android:name=".activities.TelechargementActivity" />


        <activity
            android:name=".api.API"
            tools:ignore="Instantiatable" />

        <activity android:name=".MainActivity">

            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>
</manifest>

