<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="fr.eseo.acm.andoird.projetandroid">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".Navigation.ChoixMenus" />
        <activity android:name=".Navigation.Connexion" />
        <activity android:name=".Navigation.ComJuryActivity" />
        <activity android:name=".Navigation.ComNotesActivity" />
        <activity android:name=".Navigation.JuryDetailsActivity" />
        <activity android:name=".Fragments.ListProjectsFragment" />
        <activity android:name=".Fragments.DetailsActivity" />
        <activity android:name=".Fragments.ListJuryFragment" />
        <activity android:name=".Fragments.RandomProjectsActivity" />
        <activity android:name=".Navigation.VisitorActivity" />
        <activity android:name=".Fragments.VisitorNotesActivity" />
        <activity android:name=".Fragments.DetailsActivityRandom" />
        <activity android:name=".Navigation.ChoixMenusVisitor" />
        <activity android:name=".Fragments.NotesComActivity" />
        <activity android:name=".Fragments.VisitorComActivity" />
        <activity android:name=".Navigation.FullScreenPosterActivity" />
        <activity android:name=".Fragments.ListProjectChoix" />
        <activity android:name=".Navigation.ChoixNbProjects" />

        <activity
            android:name=".API.API"
            tools:ignore="Instantiatable" />

        <activity android:name=".MainActivity">

            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>
</manifest>

